<!DOCTYPE html>

<html lang="fr">

<head>
    <%- include('../partials/head') %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Etat de modules :</h1>
            </br>
            <p>L'etat du module 1 est: <%= module1 %>
            </p>
            <p>L'etat du module 2 est: <%= module2 %>
            </p>
            <p>L'etat du module 3 est: <%= module3 %>
            </p>
            <p>L'etat du module 4 est: <%= module4 %>
            </p>
            <p>L'etat du module 5 est: <%= module5 %>
            </p>
            <p>L'etat du module 6 est: <%= module6 %>
            </p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>

</html>