<!DOCTYPE html>

<html lang="fr">

<head>
    <%- include('../partials/head') %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Vous êtes dans la section module <%= number %>
            </h1>
            <p>
                <%= state %>
            </p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>

</html>